/*universal */

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: white;
}

/* header with image(top) and attributes  */
header{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/background.JPG);
    background-size: 100%;
    background-size: cover;
    background-position: center; 
}
/* My name on left side of header with atrributes */
h1{
    margin-top: 30px;
    font-size: 50px;
    font-style: inherit;
}
/* span A in my name with attributes*/
h1 span{
    color: goldenrod;

}
.container{
    padding: 10px 10%;
} 
/* nav. section with flex box, wrap, & space between the nav. & my name */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* removes list bullet & displays it in a line */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* nav. list with attributes color yellow */
nav ul li a{
    color: rgb(171, 171, 43);
    text-decoration: none;
    font-size: medium;
}

/* when hovering on nav. link, these attributes gets applied */
nav ul li a:hover{
    color: aliceblue;
    font-style: italic;
  text-shadow: 0 0 5px white;
 }

.header-text{
margin-top: 10px;
padding: 10px 180px;
font-size: 25px;
}

/* about me section */

#about-me{
    padding: 30px 0;
    color: white;
}
/* the box in the "about me" that contains the image & about me section */
.row{
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    flex-wrap: wrap;
}

.projects-container{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    flex-wrap: wrap-reverse;
}

/* 4 images inside project container */
.other-projects {
    justify-content: space-between;
    margin: 40px 35px;

    flex-basis: 50%; 
}


/* this changes the size box the image is in */
.row1{
    flex-basis: 35%;    
}

/* about me image with rounded border added */
.row1 img{
    width: 300px;
    border-radius: 50px; 
} 

.row2{
    flex-basis: 60%; 
}

.row3{
    flex-basis: 40%; 
}
.section-heading{
    font-size: 40px;
    color: goldenrod;

}
#p1{
    line-height: 30px;
}

.project {
    width: 300px;
    border-radius: 50px;
}

.work-content {
    justify-content: space-between;
}


#main-project {
    width: 500px;
    border-radius: 50px;
}

/* Container holding the image and the text */
.main-project-img {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 .contact ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
 } 
 
.contact-heading{
    font-size: 40px;
    color: goldenrod;
}

    a{
        color:yellow;
         
    }
    strong{
        color: white;
    }

















